$background:    #fafafa
$foreground:    #3c3836

$accent:        #076678 // Blue
$accent-alt:    #b16286 // Purple?
$accent-author: #458588 // Not as dark blue


body
 font-family: Lora, serif

 margin: 20px auto
 max-width: 800px

 background: $background
 color: $foreground

=alternate()
  background: $foreground
  color: $background

p
 line-height: 1.5

h1, h2, h3, h4, h5, h6
  +alternate
  font-family: Raleway
  font-weight: 300
  display: inline-block
  padding: 4px 16px

.recipe

  header
    h1
      margin: 0

  .author
    font-weight: bold

  .field
    margin: 1em 0
    *
      padding: 4px 6px
    .name
      +alternate
      font-weight: 300
      font-style: italic
    .value
      background: $accent-alt
      color: $background
      font-style: none
    &.author
      .value
        background: $accent-author

  input
    font-family: Lora, serif
    background: transparent
    border: 0
    border-bottom: 1px dotted $accent
    padding: 2px 4px
    font-size: 1.1em
    width: 4em
    text-align: center

  .ingredient
    .amount-group
      & + .amount-group
        &::before
          content: "("
          margin-left: 4px
        &::after
          content: ")"
          margin-right: 4px
        &::before, &::after
          color: lighten($foreground, 40%)

      .amount
        color: $accent
      .amount + .amount
        &::before
          content: "&"
          margin: 0 4px
          color: lighten($foreground, 40%)

    .text
      &::before
        content: "—"
        color: lighten($foreground, 40%)
        margin: 0 4px

ol
  list-style: square
